.title {
  padding-left: 100px;
}

.m {
  /* What we do? */

  margin-bottom: 18px;

  /* Title/Medium */

  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 800;
  font-size: 14.4px;
  line-height: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;

  /* Colors/White */

  color: #FCFCFC;
}

.l {
  /* Headers/H1 */

  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;

  color: #FCFCFC;
}

.pink {

  /* Headers/H1 */

  font-family: "M PLUS 1p";
  font-style: normal;
  font-weight: 900;
  font-size: 99px;
  line-height: 118px;

  color: #F61067;
}
