<nav class="header__nav">
  <ul class="header__list">
    <li class="header__item">
      <a href="#" class="header__link">Home</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">Services</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">Work</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">About</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">(01) 666 - 693 - 456</a>
    </li>
    <li class="header__item">
      <a href="#" class="header__link">
        <img src="/assets/img/menu.svg" alt="menu">
      </a>
    </li>
  </ul>
</nav>
